*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
:root{
    --bg-color: #191c2f;
    --hover-color: #191c2f1c;
}

.home, .episodes, .cast, .watch-trailer{
    display: flex; 
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
} 
.root, body{
    margin: 0;
    padding: 0;
    color: #fff;
    background-color: #191c2f;
}
.episodes{
    color: #fff;
    font-size: 100px;
}

.cast{ 
    color: #fff;
    font-size: 100px;
}

.watch-trailer{
    color: #fff;
    font-size: 100px;
}